@font-face{
	font-family: mi_fuente;
	src:url(documentos/fuente/static/Quicksand-Medium.ttf);
	font-weight: Medium;
	font-style: Medium;
}

body{ 
background-color: black;
}


#cabezal{
	width:100%;
	height:40%;
}


#titulo{
	font: normal 48px/normal "Warnes", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-decoration: normal;
text-align: center;
text-shadow: 8px 0 10px rgba(255,255,255,1) , 8px 0 20px rgba(255,255,255,1) , 4px 0 30px rgba(255,255,255,1) , 17px 0 40px #ff00de , 16px 0 70px #ff00de , 27px 0 80px #ff00de , 41px 0 100px #ff00de ;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transform: none;
transform-origin: 50% 50% 0;
}

#titulo:hover{
text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
	

#banner{
	padding: 100px;
	text-align: center;	
	background-image: url("img/Banner-2.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 3px;	
}
 
#menu{
	width: 40%;
	text-align: center;	
	height: 5%;
	font-size: 20px;
	margin-left: auto;
	margin-right:auto;
	margin-top: null;
}

ul, ol {
	list-style:none;
	}
			
.botones {
	width:100%;
margin-left: auto;
margin-right:auto;
				}

.botones > li {
float:left;
}

.botones li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:9px 11px;
display:block;
}																			
.botones li a:hover {
background-color:#434343;
}																
.botones li ul {
display:none;
position:absolute;
z-index:1;/*coloca el sub menu sobre el contenido del body, si el z-index el menu no se desplega*/

}																
.botones li:hover > ul {
display:block;
}
	
.botones li ul li {

}

.botones li ul li{
position:relative;
background-color: black;
color:white;
text-decoration:none;
padding:10px 12px;
display:block;
}

.botones li ul li ul:hover{
right:-175px;
top:0px;

}


#principal{
	box-sizing: border-box;
	height:auto;/*auto para que se ajuste al contenido*/
	width:  100%;
	position:relative;
	display: flex;/*para usar flex direction*/
	flex-flow: row ;/*acomoda el aside y el div de los textos en dos columnas, remplaza el float:left en los hijos*/
	padding-bottom:7%;/*lo que ocupa el footer, se coloca este espacio para que el footer no se encime con el contenido*/
}

#lateral_izquierdo{
	  box-sizing: border-box;
	background-image:url(img/add.jpeg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	min-width: 19%;/*se usa min- width para que los div no le roven espacio al aside*/
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}


.texto{
	 box-sizing: border-box;
	font-size: 15px;
	font-family: Georgia;
	color: black;
	text-align: center;  
	margin-right: 10px;
	margin-top: 30px;
	margin-left: 30px;
	min-width:80%;
}

.bio, .info{
	min-width: 95%;
	height:auto;
	margin:10px;
	padding:10px;
	font-size:20px;
	color: white;
}

#generos{
		display: flex;
		min-width:70%;
		padding: 3%;
		margin:  auto;
		background: #fde3a7d7;
		flex-direction: row;
		margin-bottom: 30px;
}

.box{
		width: 23%;
		height: 100px;
		margin: 0px 10px;
		background: black;
		transition: 1s;
		text-align: center;
		font-size: 45px;
		display:flex;
		align-items: center;
		justify-content:center;
		font-family: Quicksand;
		font-weight: Medium;
}

.box:hover{
		transform: scale(1.3);
		z-index: 2;
		box-shadow: 2px 2px 2px #000;		
} 

.box, a{
	color: white;
	text-decoration: none;
}

#pie {
	background-color: rgb(31, 31, 31);
	position: relative;/*para que sea posicional*/
	bottom: 0;/*para que quede abajo de todo*/
	left:0;
	width: 100%;
	height: 7%;
	color: grey;	
	display:flex;/*para  usar justify-content*/
	justify-content:center;/* centrar el texto del footer*/
	font-family: mi_fuente;
	margin-top: 23px;
}

