#principal{
	justify-content: space-evenly;
}

h2{
	color: white;	
	border-bottom:solid 5px rgb(88, 81, 196);
}

#tabla{
	margin: auto;
	width: 55%;
	float: center;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: rgb(108, 99, 255);
	border-bottom: solid 5px rgb(88, 81, 196);
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgb(162, 159, 214);
	color: white;
}









